h1 {
   color:#C084CC; 
}
.summary{
    color:#4F80C0;
}
.education{
    color:#006EBC;
}
.work{
    color:#8FCACA;
}
.skill{
    color:#FFA500;
}
.award{
    color:#E95C00;
}
.other{
    color:#FF202B;
}
.hobby{
    color:#51C2D5;
}
.contact{
    color:#F97AB6;
}
